<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DINRoundPro-Black.otf</string>
		<string>DINRoundPro-Bold.otf</string>
		<string>DINRoundPro-Light.otf</string>
		<string>DINRoundPro-Medium.otf</string>
		<string>DINRoundPro-Regular.otf</string>
	</array>
</dict>
</plist>
